*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --button: #FF0000;
  --main-background:  #C4C4C4;
  --background: #E5E5E5;
  --text: #000;
  --footer: #000;
  --text-description: #9C9696;
}

body{
  background-color: var(--background);
}


/* header */
header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;

  align-items: center;
  justify-content: center;

  margin: 2.5rem auto;
  position: relative;
  z-index: 1;
}

.list ul{
  display: flex;
  column-gap: 5rem;
  flex-wrap: wrap;
  list-style: none;
}

.list li{
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.search {
  display: flex;
  column-gap: .5rem;
  align-items: center;
  
  padding: 1rem .8rem;
  height: 2.5rem;
  background-color: #fff;
}

.search input[type="search"]{
  height: 1.4rem;
  border: none;
  outline: none;

}
.search input::placeholder{
  font-weight: 500;
  font-size: 1.1rem;
}
/* end */

/* main */

.card-price{
  display: grid;
  row-gap: 1.2rem;
  max-width: 25rem;
}

.card-price h1{
  font-size: 3.75rem;
  font-weight: 700;
  font-style: normal;
  line-height: 4.5rem;
}

.price{
  display: flex;
  flex-direction: column;
}


/* end */

/* container-images */
.container-images{
  display: flex;
  justify-content: end;
  
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  background-color: var(--main-background);
}

.gallery{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  margin-top: 7rem;
}

.images-plus{
  display: flex;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}
/* end */